@import "tailwindcss";

.Toastify__toast-container .Toastify__toast {
    height: 30px;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-scaleUp {
    animation: scaleUp 0.3s ease-out forwards;
}

body{
    background-color: rgba(1, 4, 9);

}