@import "tailwindcss";

.Toastify__toast-container .Toastify__toast {
    height: 30px;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-scaleUp {
    animation: scaleUp 0.3s ease-out forwards;
}

body {
  background-image: url("space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* increase 0.5 → darker */
  pointer-events: none;
}