@import "tailwindcss";

.Toastify__toast-container .Toastify__toast {
    height: 30px;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-scaleUp {
    animation: scaleUp 0.3s ease-out forwards;
}
:root {
  --primary-color: #0066cc;
  --font-color: #333;
  --bg-color: #f9f9f9;
}
body { font-family: 'Segoe UI', sans-serif; color: var(--font-color); background: var(--bg-color); }
.navbar { background: var(--primary-color); color: white; padding: 1rem; }


body {
   /* background-image: url("/space.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.3); */
  pointer-events: none;
  z-index: -1;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}